<nav class="navbar navbar-light bg-light container-fluid d-flex bd-highlight mb-3">
  <div class="p-2 bd-highlight">
    <a class="navbar-brand" href="/">Rails 101</a>
  </div>
  <div class="p-2 bd-highlight">
    <ul class="navbar-nav mr-auto navbar-right">
      <li class="nav-item dropdown">
        <%= link_to("登录", '#') %>
      </li>
    </ul>
  </div>
</nav>